header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.logo {
	background-color: blue;
	display: flex;
	width: 120px;
	height: 120px;
	overflow: hidden;
}
.title-text {
	background-color: red;
	display: flex;
}
.welcome-card {
	width: 100%; 
	height: 100%;
	background-image: url("assets/4a5201a568ff48e8c37440e3b0ea754f.jpeg");
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.inputs{
	display: flex;
	flex-direction: row;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background-color: rgba(255, 0, 0);
	position: relative;
}

.navbar-menu {
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
	background-color: rgba(0, 255, 0);
}

li {
	padding: 0 20px;
}